body {
    background-color: #efefef;
    font-family: Satoshi;
    margin: 0;
    overflow-x: hidden;

    /* background-color: rgb(235, 235, 235);
    background-image: linear-gradient(hsla(0, 0%, 86%, 0.5) 0.3px, transparent 0.1vh),
                      linear-gradient(90deg, hsla(0, 0%, 86%, 0.5) 0.3px, transparent 0.1vh);
    background-size: 3vh 3vh; */
}

.navbar {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 4vh;
    height: 4vh;
    /* position: fixed; */
    width: 90vw;
    /* z-index: -1;
    position: relative; */

}

.navbarA {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 4vh;
  height: 4vh;
  position: fixed;
  width: 90vw;
  /* z-index: -1;
  position: relative; */

}

#sub {
    display: flex;
    flex-direction: row;
    gap: 3vw; 
    align-items: center;
}

#nav-text {
    font-size: 2vh;
    color: #767676;
    font-weight: 400;
}

#wordmark {
    max-width: 5vw;

}

#logo {
    display: flex;
    align-items: center;
}

.hero {
    margin-top: 35vh;
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: center;
}

#title {
    font-size: 5vh;
    font-weight: 400;
    color: #3D3DF5;
}

#title-content {
  font-size: 6vh;
  font-weight: 500;
  color: #e6e5ed;
}

#titleA {
  font-size: 3.5vh;
  font-weight: 500;
  color: #0f0f10;
}

#left-content {

  margin-left: 10vw;
  margin-top: 20vw;
}

#right-content {
  margin-left: 5vw;
  margin-top: 10vw;
  margin-right: 10vw;
}


.page-divider {
  display: flex;
  top: 0%;
  position: absolute;
  width: 100%;
  z-index: -1;
  /* justify-content: space-between; */
  /* margin-left: 10vw;
  margin-right: 10vw; */
  /* margin-top: 20vh; */
}

#left-side {
  background-color: #0f0f10;
  width: 50%;
  height: 100vh;

  position: fixed;

}

#right-side {
  background-color: #efefef;
  width: 50%;
  height: 100vh;
  left: 50%;
  position: relative;
}

#inline-arrow {
  margin-left: 0.6vw;
  max-width: 0.8VW;
}

#inline-arrow:hover {
  rotate: 45deg;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

#left-text {

  font-size: 2.5vh;
  font-weight: 400;
  line-height: 130%;
  color: #efefef;
  text-decoration: underline;

}




/* .nudge-nav {
    height: 2vh; 
    width: 2vh;
    background-color: #767676;
    border-radius: 50%;
} */

#footer {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  max-width: fit-content;
  text-align: center;
  margin-bottom: 5vh;
  
}

#contact {
  display: flex;
  gap: 5vw;
  text-align: center;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#name {
  padding: 0;
  margin: 0vh;
}

#circle-man {
    height: 2.5vh; 
    width: 2.5vh;
    background-color: #76767666;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15vh;
    animation: slide1 2s ease-in-out infinite;
}

@keyframes slide1 {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(0, 3vh);
    }
  }

  .divider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 12vw;
    margin-right: 16vw;
    margin-top: 25vh;
  }

  #about {
    max-width: 40vw;
    margin-bottom: 20vh;
    background-color: rgba(255, 255, 255, 0.374);
    padding: 1.5vw;
    border-radius: 0.5vw;
  }

  #work-home {
    margin-bottom: 5vh;
    
  }

  #recent-work {
    max-width: 20vw;
    margin-bottom: 20vh;
    background-color: rgba(255, 255, 255, 0.374);
    padding: 1.5vw;
    border-radius: 0.5vw;
  }

  #subtitle {
    font-size: 3vh; 
    font-weight: 400;
    color: #3D3DF5;

  }

  #subtitleA {
    font-size: 2.5vh; 
    font-weight: 400;
    color: #3D3DF5;
  }

  #subtitleA:hover {
    text-decoration: underline;

  }

  #big-content {
    font-size: 2.5vh;
    font-weight: 400;
    line-height: 130%;
    color: #767676;
  }

  #big-contentA {
    font-size: 2.2vh;
    font-weight: 400;
    line-height: 130%;
    color: #767676;
  }

  #av-content {
    margin-right: 10vw;
    max-width: 35vw;
    border-radius: 0.5vw;
    margin-bottom: 5vh;
  }

  #top {
    background-color: #efefef;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* padding-bottom: 3vh; */

}
  #project-top {

    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    gap: 55vw;
    background-color: #efefef;
}

#project-top-text {
    margin-bottom: 0;
    font-size: 6vh;
    padding-top: 3vh;
    font-weight: 400;
    color: #3D3DF5;
}

.line {
    height: 0.1vh;
    max-width: 90vw; 
    margin-left: auto;
    margin-right: auto;
    background-color:#7676766b;
}

img {
  width: 35vw;
  height: auto;
}



#project-card {
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    gap: 10vw;
    margin-top: 5vh;

}

#project-card-text {
    display: flex;
    flex-direction: column;
    max-width: 30vw;
    font-size: 2vh;
    font-weight: 400;
    color: #3D3DF5;

}



#project-card-text-head {
    font-size: 6vh;
    font-weight: 400;
    color: #3D3DF5;
}

.project-scroll {
    margin-top: 45vh;
}

#big-contentB {
  font-size: 2vh;
  margin-left: 10vw;
  max-width: 60vw;
  font-weight: 400;
  color: #767676;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

  /* #full {
    width: 100%;
    height: 100%; 
    opacity: 0%;
    position: fixed ;
    background-color: #3D3DF5;
    text-align: center;
    z-index: -1;
    
  } */

  /* .hover-img {
    max-width: 1.2vw;
    border-radius: 20vh;
    background-color: #ffffff;
    outline: 1.2vh solid #ffffff;
    outline-offset: -1.2vh;
    border-color: #ffffff;
    margin-left: 20vw;
    position: absolute;
    z-index: 1;
    fill: #767676;

  }


  .hover-img:hover {
   opacity: 100%;
   max-width: 15vw;
   margin-left: 18vw;
   transition-duration: 0.2s;
   border-radius: 2vh;
   outline: 0.4vh solid #ffffff;
   outline-offset: 0vh;
   transition-timing-function: ease-in-out;
  } */

  @media only screen and (max-width: 1024px) {

    #wordmark {
        max-width: 10vw;
    }

    #title {
        font-size: 3vh;
        font-weight: 400;
        color: #3D3DF5;
    }

    .hero {
        margin-top: 25vh;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-bottom: 20vh;
        text-align: center;
    }

    .divider {
        display: flex;
        flex-direction: column;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 25vh;
      }

      #about {
        max-width: 80vw;
        background-color: rgba(255, 255, 255, 0.374);
        padding: 6.5vw;
        border-radius: 2.5vw;
        margin-bottom: 10vh;
      }

      #recent-work {
        max-width: 80vw;
        margin-bottom: 20vh;
        background-color: rgba(255, 255, 255, 0.374);
        padding: 6.5vw;
        border-radius: 2.5vw;
      }

      #left-side {
        width: 100%;
        height: 60%;
      }

      #right-side {
        width: 100%;
        height: 100%;
        left: 0%;
        margin-top: 90%;
      }

      #title-content {
        margin-top: 13vh;
      }

      #right-content {
        margin-left: 10vw;
        margin-right: 10vw;
      }

      #big-contentA {
        font-size: 1.8vh;
      }

      #big-content {
        font-size: 1.8vh;
      }


      #titleA {
        font-size: 2.5vh;
      }

      #inline-arrow {
        margin-left: 2vw;
        max-width: 4VW;
      }

      #av-content {
        margin-right: 10vw;
        max-width: 80vw;
      }

      #project-top-text {
        font-size: 3vh;
        padding: 0;
        margin-top: 0;
        text-align: center;

    }

    #project-card {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
        
        margin-top: 10vh;
        
    }


    #project-card-text-head {
        font-size: 3vh;
        text-align: center;
    }

    #project-card-text {
        max-width: 70vw;
        text-align: center;
    }

    img {
        width: 70vw;
        height: auto;
    }

    #project-top {
      margin-left: auto;
      margin-right: auto;
      max-width: fit-content;
      gap: 30vw;
      margin-top: 10vh;

    }

    #nav-text {
      font-size: 1.8vh;
    }

    /* #titleyear {
      margin-left: 10vw ;
    } */
    
    #big-contentB {
      font-size: 1.8vh;
      margin-left: auto;
      margin-right: auto;
      max-width: 80vw;
      text-align: center;
      font-weight: 400;
      color: #767676;
      margin-top: 3vh;
      margin-bottom: 3vh;
    }

    .line {
      opacity: 30%;
    }

    .project-scroll {
      margin-top: 35vh;
  }
}



  @media all and (device-width: 1668px) and (device-height: 2420px) {

    #full {
      opacity: 100%;
    }

  }