body {
    background-color: #efefef;
    font-family: Archivo;
}

.navbar {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 4vh;
    height: 4vh;

}

#sub {
    display: flex;
    flex-direction: row;
    gap: 3vw; 
    align-items: center;
}

#nav-text {
    font-size: 2vh;
    color: #767676;
    font-weight: 400;
}

#wordmark {
    max-width: 5vw;

}

#logo {
    display: flex;
    align-items: center;
}

.hero {
    margin-top: 35vh;
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: center;
}

#title {
    font-size: 5vh;
    font-weight: 400;
    color: #3D3DF5;
}

/* .nudge-nav {
    height: 2vh; 
    width: 2vh;
    background-color: #767676;
    border-radius: 50%;
} */

#footer {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  max-width: fit-content;
  text-align: center;
  margin-bottom: 5vh;
  
}

#contact {
  display: flex;
  gap: 5vw;
  text-align: center;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#name {
  padding: 0;
  margin: 0vh;
}

#circle-man {
    height: 2.5vh; 
    width: 2.5vh;
    background-color: #76767666;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15vh;
    animation: slide1 2s ease-in-out infinite;
}

@keyframes slide1 {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(0, 3vh);
    }
  }

  .divider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 12vw;
    margin-right: 16vw;
    margin-top: 25vh;
  }

  #about {
    max-width: 40vw;
    margin-bottom: 20vh;
    background-color: rgba(255, 255, 255, 0.374);
    padding: 1.5vw;
    border-radius: 0.5vw;
  }

  #work-home {
    margin-bottom: 5vh;
    
  }

  #recent-work {
    max-width: 20vw;
    margin-bottom: 20vh;
    background-color: rgba(255, 255, 255, 0.374);
    padding: 1.5vw;
    border-radius: 0.5vw;
  }

  #subtitle {
    font-size: 3vh; 
    font-weight: 400;
    color: #3D3DF5;

  }

  #subtitleA {
    font-size: 2.5vh; 
    font-weight: 400;
    color: #3D3DF5;
  }

  #subtitleA:hover {
    text-decoration: underline;

  }

  #big-content {
    font-size: 2vh;
    font-weight: 400;
    line-height: 130%;
    color: #767676;
  }

  /* .hover-img {
    max-width: 1.2vw;
    border-radius: 20vh;
    background-color: #ffffff;
    outline: 1.2vh solid #ffffff;
    outline-offset: -1.2vh;
    border-color: #ffffff;
    margin-left: 20vw;
    position: absolute;
    z-index: 1;
    fill: #767676;

  }


  .hover-img:hover {
   opacity: 100%;
   max-width: 15vw;
   margin-left: 18vw;
   transition-duration: 0.2s;
   border-radius: 2vh;
   outline: 0.4vh solid #ffffff;
   outline-offset: 0vh;
   transition-timing-function: ease-in-out;
  } */

  @media only screen and (max-width: 768px) {

    #wordmark {
        max-width: 10vw;
    }

    #title {
        font-size: 3vh;
        font-weight: 400;
        color: #3D3DF5;
    }

    .hero {
        margin-top: 25vh;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-bottom: 20vh;
        text-align: center;
    }

    .divider {
        display: flex;
        flex-direction: column;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 25vh;
      }

      #about {
        max-width: 80vw;
        background-color: rgba(255, 255, 255, 0.374);
        padding: 6.5vw;
        border-radius: 2.5vw;
        margin-bottom: 10vh;
      }

      #recent-work {
        max-width: 80vw;
        margin-bottom: 20vh;
        background-color: rgba(255, 255, 255, 0.374);
        padding: 6.5vw;
        border-radius: 2.5vw;
      }
    




  }