body {
    background-color: #ffffff;
    font-family: Manrope;
    margin: 0;
    overflow-x: hidden;
    letter-spacing: 0.022vw;
    /* cursor:url(Assets/General/Scursor.svg), auto; */


    @font-face {
      font-family: Departure Mono;
      src: url(/Assets/General/DepartureMono-Regular.woff2) format('woff2');
      font-weight: normal;
      font-style: normal;
    }
    

    /* background-color: #ffffff;
    background-image: linear-gradient(hsla(0, 0%, 86%, 0.5) 0.3px, transparent 0.1vh),
                      linear-gradient(90deg, hsla(0, 0%, 86%, 0.5) 0.3px, transparent 0.1vh);
    background-size: 3vh 3vh;
} */

.pickcard {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14vh;

  position: relative;
}


#pickcard-img {

  width: 7vw;
  opacity: 100%;
  position: relative;
  margin-left: -2vw; 
  z-index: 1; 
  transition: transform 0.3s ease, z-index 0.3s ease, opacity 0.3s ease;

}

#pickcard-img:hover {
  /* z-index: 10; */
  opacity: 100%;
  transform: translateY(-10px);

}





.navbar {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 4vh;
    height: 4vh;
    /* position: fixed; */
    width: 86vw;
    /* z-index: -1;
    position: relative; */

}

.navbarA {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  padding-left: 6vw;
  padding-right: 6vw;
  padding-top: 4vh;
  padding-bottom: 1vh;
  height: 4vh;
  position: fixed;
  width: 90vw;

  /* z-index: -1;
  position: relative; */

}

#sub {
    display: flex;
    flex-direction: row;
    gap: 3vw; 
    align-items: center;
}

#nav-text {
    font-size: 2vh;
    color: #767676;
    font-weight: 400;
}

#wordmark {
    max-width: 5vw;

}

#logo {
    display: flex;
    align-items: center;
}

.hero {
    margin-top: 25vh;
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: center;
}

#title {
    font-family: 'Apple Garamond Light';
    font-weight: 450;
    font-size: 6.5vh;
    color: #161515;
}

#title-content {
  font-size: 6vh;
  font-weight: 500;
  color: #e6e5ed;
  max-width: 12vw;
}

#titleA {
  font-size: 3.5vh;
  font-weight: 500;
  color: #161515;
  padding-top: 4vh;
}

#left-content {

  margin-left: 6vw;
  margin-top: 30vh;
}

#right-content {
  margin-left: 10vw;
  margin-top: 10vw;
  margin-right: 10vw;
  padding-bottom: 20vh;
}

.page-divider {
  display: flex;
  top: 0%;
  position: absolute;
  width: 100%;
  z-index: -1;
  /* justify-content: space-between; */
  /* margin-left: 10vw;
  margin-right: 10vw; */
  /* margin-top: 20vh; */
}

#left-side {
  background-color: #161515;
  width: 30%;
  height: 100vh;

  position: fixed;

}

#right-side {
  background-color: #ffffff;
  width: 60%;
  height: 100vh;
  left: 30%;
  position: relative;

}

#inline-arrow {
  margin-left: 0.6vw;
  max-width: 0.8VW;
  border-radius: 0%;
}

#inline-arrow:hover {
  rotate: 45deg;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

#left-text {

  font-size: 2.5vh;
  font-weight: 400;
  line-height: 130%;
  color: #ffffff;
  text-decoration: underline;
  margin-top: 10vh;

}

#cap-content {
  font-size: 2vh;
  font-weight: 450;
  color: #e6e5ed; 
  max-width: 10vw;
}

#cap-contentB {
  font-size: 2vh;
  font-weight: 450;
  color: #161515 
  max-width: 10vw;
}


#navfb {
  text-align: center;
  padding: 4vw;
}

#link {
  text-decoration: none;
  color: #767676;
  font-size: 2.4vh;
}

#link:hover {
  text-decoration: underline;
}


/* .nudge-nav {
    height: 2vh; 
    width: 2vh;
    background-color: #767676;
    border-radius: 50%;
} */

#footer {
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  margin-right: auto;
  margin-left: auto;
  max-width: fit-content;
  text-align: center;
  margin-bottom: 5vh;
  
}

#contact {
  display: flex;
  gap: 5vw;
  text-align: center;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#name {
  padding: 0;
  margin: 0vh;
}

#circle-man {
    height: 2.5vh; 
    width: 2.5vh;
    background-color: #76767666;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15vh;
    animation: slide1 2s ease-in-out infinite;
}

@keyframes slide1 {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(0, 3vh);
    }
  }

  .divider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 12vw;
    margin-right: 16vw;
    margin-top: 25vh;
  }

  #about {
    max-width: 40vw;
    margin-bottom: 20vh;
    background-color: rgba(255, 255, 255, 0.374);
    padding: 1.5vw;
    border-radius: 0.5vw;
  }

  #work-home {
    margin-bottom: 5vh;
    
  }

  #recent-work {
    max-width: 20vw;
    margin-bottom: 20vh;
    background-color: rgba(255, 255, 255, 0.374);
    padding: 1.5vw;
    border-radius: 0.5vw;
  }

  #subtitle {
    font-size: 3vh; 
    font-weight: 400;
    color: #161515;

  }

  #subtitleA {
    font-size: 2.5vh; 
    font-weight: 400;
    color: #161515;
  }

  #subtitleA:hover {
    text-decoration: underline;

  }

  #big-content {
    font-size: 2.2vh;
    font-weight: 400;
    line-height: 130%;
    color: #767676;
  }

  #big-contentA {
    font-size: 2.2vh;
    font-weight: 400;
    line-height: 130%;
    color: #767676;
    margin-top: 2vh;
    margin-bottom: 4vh;
  }

  #big-contentC {
    font-size: 2.5vh;
    font-weight: 500;
    line-height: 130%;
    color: #161515;
  }

  #av-content {
    margin-right: 10vw;
    max-width: 40vw;
    border-radius: 0.5vw;
    margin-bottom: 1vh;
    margin-top: 5vh;
  }

  #top {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* padding-bottom: 3vh; */


    .content {
      margin-top: 45vh;
    }

}
  #project-top {

    margin-left: 10vw;
    margin-right: 16vw;
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
}

#project-top-text {
    margin-bottom: 0;
    font-size: 6vh;
    padding-top: 3vh;
    font-weight: 400;
    color: #161515;
}

.line {
    height: 0.1vh;
    max-width: 90vw; 
    margin-left: auto;
    margin-right: auto;
    background-color:#7676766b;
}

img {
  width: 35vw;
  height: auto;
  border-radius: 1vw;
}

li {
  margin-bottom: 4vh;
}

#project-img {
  width: 40vw;
  height: auto;
  border-radius: 0.5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#project-imgWS {
  width: 40vw;
  height: auto;
  border-radius: 0.5vw;
  margin-top: 4vh;
  margin-bottom: 1vh;
}

#key-flex-card {
  background-color: #bcbcbc23;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-bottom: 1vh;
  padding-top: 0.1VH;
  border-radius: 1vh;
}


#project-card {
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    gap: 10vw;
    margin-top: 5vh;

}

#project-card-text {
    display: flex;
    flex-direction: column;
    max-width: 30vw;
    font-size: 2vh;
    font-weight: 400;
    color: #161515;

}



#project-card-text-head {
    font-size: 6vh;
    font-weight: 400;
    color: #161515;
    margin-bottom: 2vh;
}

#project-card-text-head:hover {

  transition-duration: 0.5s;
  color: #3D3DF5;
}

.project-scroll {
    margin-top: 45vh;
}

.thought-list {
  display: flex;
  gap: 5vw;
  margin-left: 10vw;
  margin-right: 10vw;
  align-items: last baseline;
}

#big-contentB {
  font-size: 2.5vh;
  margin-left: 10vw;
  max-width: 30vw;
  font-weight: 400;
  color: #767676;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#big-contentD {
  font-size: 2.5vh;
  max-width: 30vw;
  font-weight: 500;
  color: #161515;
  margin-top: 3vh;
}

#embeds {
  margin-bottom: 5vh;
  margin-top: 5vh;
  border-radius: 2vh;
}


  /* #full {
    width: 100%;
    height: 100%; 
    opacity: 0%;
    position: fixed ;
    background-color: #161515;
    text-align: center;
    z-index: -1;
    
  } */

  /* .hover-img {
    max-width: 1.2vw;
    border-radius: 20vh;
    background-color: #ffffff;
    outline: 1.2vh solid #ffffff;
    outline-offset: -1.2vh;
    border-color: #ffffff;
    margin-left: 20vw;
    position: absolute;
    z-index: 1;
    fill: #767676;

  }


  .hover-img:hover {
   opacity: 100%;
   max-width: 15vw;
   margin-left: 18vw;
   transition-duration: 0.2s;
   border-radius: 2vh;
   outline: 0.4vh solid #ffffff;
   outline-offset: 0vh;
   transition-timing-function: ease-in-out;
  } */

  @media only screen and (max-width: 1024px) {

    #top {
      position: relative;
    }

    .content {
      margin-top: 45vh;
    }

    .navbarA {
      background-color: #161515;
      gap:30vw;
    }

    #nav-text {
      font-size: 2vh;
    }

    #wordmark {
        max-width: 16vw;
    }

    .pickcard {
      opacity: 0%;
    }

    #title {

        font-size: 4vh;
        font-family: 'Apple Garamond Light';
        font-weight: 450;
        color: #161515;
    }

    #cap-contentB {
      opacity: 0%;
    }

    #project-imgWS {
      width: 80vw;
      border-radius: 1vw;
    }

    .hero {
        margin-top: 25vh;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-bottom: 20vh;
        text-align: center;
    }

    .divider {
        display: flex;
        flex-direction: column;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 25vh;
      }

      #about {
        max-width: 80vw;
        background-color: rgba(255, 255, 255, 0.374);
        padding: 6.5vw;
        border-radius: 2.5vw;
        margin-bottom: 10vh;
      }

      #recent-work {
        max-width: 80vw;
        margin-bottom: 20vh;
        background-color: rgba(255, 255, 255, 0.374);
        padding: 6.5vw;
        border-radius: 2.5vw;
      }

      #left-side {
        width: 100%;
        height: 60%;
      }

      #right-side {
        width: 100%;
        height: 100%;
        left: 0%;
        margin-top: 90%;
      }

      #title-content {
        margin-top: 13vh;
        font-size: 5vh;
        max-width: 50vw;
      }

      
      #left-content {

        margin-left: 6vw;
        margin-top: 10vh;
      }

      #av-content {
        max-width: 80vw;
      }

      #left-text {
        margin-top: 2vh;
        font-size: 2vh;
      }

      #right-content {
        margin-left: 10vw;
        margin-right: 10vw;
      }

      #cap-content {
        max-width: 50vw;
  
      }

      #big-contentA {
        font-size: 2.2vh;

      }

      #big-content {
        font-size: 2.2vh;
      }


      #titleA {
        font-size: 2.5vh;
      }

      #inline-arrow {
        margin-left: 2vw;
        max-width: 4VW;
      }


      #project-top-text {
        font-size: 3vh;
        padding: 0;
        margin-top: 0;
        text-align: center;
        font-weight: 450;

    }

    #project-card {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
        
        margin-top: 10vh;
        
    }


    #project-card-text-head {
        font-size: 3vh;
        text-align: center;
    }

    #project-card-text {
        max-width: 70vw;
        text-align: center;
    }

    img {
        width: 70vw;
        height: auto;
        border-radius: 0.8vh;
    }

    #project-img {
      width:80vw;
      margin-top: 1vh ;
      border-radius: 0.8vh;
    }

    #project-top {
      margin-left: auto;
      margin-right: auto;
      max-width: fit-content;
      gap: 20vw;
      margin-top: 5vh;

    }


    /* #titleyear {
      margin-left: 10vw ;
    } */
    
    #big-contentB {
      font-size: 2vh;
      margin-left: auto;
      margin-right: auto;
      max-width: 80vw;
      text-align: center;
      font-weight: 400;
      color: #767676;
      margin-top: 3vh;
      margin-bottom: 3vh;
    }

    .line {
      opacity: 30%;
    }

    .project-scroll {
      margin-top:5vh;
  }
}



  @media all and (device-width: 1668px) and (device-height: 2420px) {

    #full {
      opacity: 100%;
    }

  }